In [6]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

#Import the API key.
from config import g_key

In [2]:
# Store the CSV you created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,0,Rikitea,PF,2021-07-25 16:00:11,-23.1203,-134.9692,69.89,65,96,4.07
1,1,1,Omboue,GA,2021-07-25 16:04:33,-1.5746,9.2618,76.35,70,78,11.10
2,2,2,Tofte,NO,2021-07-25 16:04:33,59.5428,10.5614,87.12,46,82,7.05
3,3,3,Nikolskoye,RU,2021-07-25 16:04:34,59.7035,30.7861,71.78,46,68,5.68
4,4,4,Kidal,ML,2021-07-25 16:04:34,18.4411,1.4078,103.96,20,61,10.96

In [3]:
# Get the data types.
city_data_df.drop("City_ID.1", inplace=True, axis=1)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-07-25 16:00:11,-23.1203,-134.9692,69.89,65,96,4.07
1,1,Omboue,GA,2021-07-25 16:04:33,-1.5746,9.2618,76.35,70,78,11.10
2,2,Tofte,NO,2021-07-25 16:04:33,59.5428,10.5614,87.12,46,82,7.05
3,3,Nikolskoye,RU,2021-07-25 16:04:34,59.7035,30.7861,71.78,46,68,5.68
4,4,Kidal,ML,2021-07-25 16:04:34,18.4411,1.4078,103.96,20,61,10.96

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [22]:
# Heatmap of temperature
locations = city_data_df[["Lat", "Lng"]]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0)
                                for temp in max_temp], dissipating=False, 
                                max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=300, 
                                point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False, max_intensity=300, 
                                point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                dissipating=False, max_intensity=300, 
                                point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))