In [6]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

#Import the API key.
from config import g_key

In [2]:
# Store the CSV you created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,0,Rikitea,PF,2021-07-25 16:00:11,-23.1203,-134.9692,69.89,65,96,4.07
1,1,1,Omboue,GA,2021-07-25 16:04:33,-1.5746,9.2618,76.35,70,78,11.10
2,2,2,Tofte,NO,2021-07-25 16:04:33,59.5428,10.5614,87.12,46,82,7.05
3,3,3,Nikolskoye,RU,2021-07-25 16:04:34,59.7035,30.7861,71.78,46,68,5.68
4,4,4,Kidal,ML,2021-07-25 16:04:34,18.4411,1.4078,103.96,20,61,10.96

In [3]:
# Get the data types.
city_data_df.drop("City_ID.1", inplace=True, axis=1)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-07-25 16:00:11,-23.1203,-134.9692,69.89,65,96,4.07
1,1,Omboue,GA,2021-07-25 16:04:33,-1.5746,9.2618,76.35,70,78,11.10
2,2,Tofte,NO,2021-07-25 16:04:33,59.5428,10.5614,87.12,46,82,7.05
3,3,Nikolskoye,RU,2021-07-25 16:04:34,59.7035,30.7861,71.78,46,68,5.68
4,4,Kidal,ML,2021-07-25 16:04:34,18.4411,1.4078,103.96,20,61,10.96

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [22]:
# Heatmap of temperature
locations = city_data_df[["Lat", "Lng"]]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0)
                                for temp in max_temp], dissipating=False, 
                                max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=300, 
                                point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False, max_intensity=300, 
                                point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                dissipating=False, max_intensity=300, 
                                point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Omboue,GA,2021-07-25 16:04:33,-1.5746,9.2618,76.35,70,78,11.10
2,2,Tofte,NO,2021-07-25 16:04:33,59.5428,10.5614,87.12,46,82,7.05
9,9,Ponta Do Sol,PT,2021-07-25 16:04:36,32.6667,-17.1000,81.72,70,3,4.09
12,12,Butaritari,KI,2021-07-25 16:04:37,3.0707,172.7902,81.68,77,11,10.74
18,18,Kavieng,PG,2021-07-25 16:04:39,-2.5744,150.7967,81.07,77,59,3.09
19,19,Mingaora,PK,2021-07-25 16:04:40,34.7758,72.3625,84.36,61,13,2.35
31,31,Golden,US,2021-07-25 16:04:44,39.7555,-105.2211,85.57,45,35,3.83
38,38,Davila,PH,2021-07-25 16:04:48,18.4726,120.5763,81.97,88,100,25.61
39,39,Pazaric,BA,2021-07-25 16:04:49,43.7886,18.1608,89.42,32,0,8.05
46,46,Bulakamba,ID,2021-07-25 16:04:53,-6.8748,108.9559,75.47,78,1,4.94

In [36]:
preferred_cities_df.count()

City_ID       252
City          252
Country       252
Date          252
Lat           252
Lng           252
Max Temp      252
Humidity      252
Cloudiness    252
Wind Speed    252
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1         Omboue      GA     76.35  -1.5746    9.2618
2          Tofte      NO     87.12  59.5428   10.5614
9   Ponta Do Sol      PT     81.72  32.6667  -17.1000
12    Butaritari      KI     81.68   3.0707  172.7902
18       Kavieng      PG     81.07  -2.5744  150.7967
19      Mingaora      PK     84.36  34.7758   72.3625
31        Golden      US     85.57  39.7555 -105.2211
38        Davila      PH     81.97  18.4726  120.5763
39       Pazaric      BA     89.42  43.7886   18.1608
46     Bulakamba      ID     75.47  -6.8748  108.9559

In [43]:
# Set parameters to search for a hotel.
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name.
    try:    
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [44]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Omboue,GA,76.35,-1.5746,9.2618,Hotel Olako
2,Tofte,NO,87.12,59.5428,10.5614,tronstad gård
9,Ponta Do Sol,PT,81.72,32.6667,-17.1000,Hotel do Campo
12,Butaritari,KI,81.68,3.0707,172.7902,Isles Sunset Lodge
18,Kavieng,PG,81.07,-2.5744,150.7967,Nusa Island Retreat
19,Mingaora,PK,84.36,34.7758,72.3625,Burj Al Swat
31,Golden,US,85.57,39.7555,-105.2211,"The Golden Hotel, Ascend Hotel Collection"
38,Davila,PH,81.97,18.4726,120.5763,Blue Ridge Beach Resort
39,Pazaric,BA,89.42,43.7886,18.1608,INFINITI RESORT - OSENIK
46,Bulakamba,ID,75.47,-6.8748,108.9559,Rona

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [55]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))